USE [master]
GO
/****** Object:  Database [Assignment2_ThanThanhDuy]    Script Date: 2/7/2021 12:29:21 AM ******/
CREATE DATABASE [Assignment2_ThanThanhDuy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment2_ThanThanhDuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assignment2_ThanThanhDuy.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Assignment2_ThanThanhDuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Assignment2_ThanThanhDuy_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment2_ThanThanhDuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment2_ThanThanhDuy]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[answer](
	[ansId] [int] NOT NULL,
	[ansContent] [varchar](8000) NULL,
	[ansCorrect] [bit] NULL,
	[quesId] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ansId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[question]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[question](
	[quesId] [int] NOT NULL,
	[quesContent] [varchar](8000) NULL,
	[createDate] [date] NULL,
	[subId] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[quesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quiz]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quiz](
	[quizId] [int] NOT NULL,
	[subId] [varchar](50) NULL,
	[createQuiz] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quizDetail]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizDetail](
	[quizId] [int] NOT NULL,
	[quesId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quizId] ASC,
	[quesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[quizTake]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[quizTake](
	[quizTakeId] [int] NOT NULL,
	[quizId] [int] NULL,
	[email] [varchar](100) NULL,
	[total] [float] NULL,
	[makeQuizDate] [datetime] NULL,
	[finish] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizTakeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[quizTakeDetail]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quizTakeDetail](
	[quizTakeId] [int] NOT NULL,
	[quizId] [int] NOT NULL,
	[quesId] [int] NOT NULL,
	[ansTemp] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizTakeId] ASC,
	[quizId] ASC,
	[quesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[roleID] [varchar](10) NOT NULL,
	[roleName] [varchar](20) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subject]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subject](
	[subId] [varchar](50) NOT NULL,
	[subName] [varchar](500) NULL,
	[numQues] [int] NULL,
	[numTime] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[subId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[user]    Script Date: 2/7/2021 12:29:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[email] [varchar](100) NOT NULL,
	[password] [varchar](8000) NULL,
	[fullName] [nvarchar](100) NULL,
	[roleID] [varchar](10) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[answer] ([ansId], [ansContent], [ansCorrect], [quesId], [status]) VALUES (15751, N'ád', 0, 34251, 1)
INSERT [dbo].[answer] ([ansId], [ansContent], [ansCorrect], [quesId], [status]) VALUES (15752, N'123', 0, 34251, 1)
INSERT [dbo].[answer] ([ansId], [ansContent], [ansCorrect], [quesId], [status]) VALUES (15753, N'qwe', 1, 34251, 1)
GO
INSERT [dbo].[question] ([quesId], [quesContent], [createDate], [subId], [status]) VALUES (34251, N'qwe', CAST(N'2021-02-01' AS Date), N'JPD121', 1)
INSERT [dbo].[question] ([quesId], [quesContent], [createDate], [subId], [status]) VALUES (34252, N'123', CAST(N'2021-02-01' AS Date), N'JPD121', 1)
INSERT [dbo].[question] ([quesId], [quesContent], [createDate], [subId], [status]) VALUES (34253, N'zxcv', CAST(N'2021-02-01' AS Date), N'JPD121', 1)
GO
INSERT [dbo].[quiz] ([quizId], [subId], [createQuiz]) VALUES (24151, N'JPD121', CAST(N'2021-02-05' AS Date))
INSERT [dbo].[quiz] ([quizId], [subId], [createQuiz]) VALUES (24152, N'JPD121', CAST(N'2021-02-05' AS Date))
INSERT [dbo].[quiz] ([quizId], [subId], [createQuiz]) VALUES (24153, N'JPD121', CAST(N'2021-02-05' AS Date))
INSERT [dbo].[quizDetail] ([quizId], [quesId]) VALUES (24151, 34253)
INSERT [dbo].[quizDetail] ([quizId], [quesId]) VALUES (24151, 34256)
INSERT [dbo].[quizDetail] ([quizId], [quesId]) VALUES (24151, 34259)
GO
INSERT [dbo].[quizTake] ([quizTakeId], [quizId], [email], [total], [makeQuizDate], [finish]) VALUES (45171, 24151, N'user@fpt.edu.vn', 4, CAST(N'2021-02-05 16:06:34.000' AS DateTime), 1)
INSERT [dbo].[quizTake] ([quizTakeId], [quizId], [email], [total], [makeQuizDate], [finish]) VALUES (45172, 24152, N'user@fpt.edu.vn', 1.5, CAST(N'2021-02-05 16:07:17.000' AS DateTime), 1)
INSERT [dbo].[quizTake] ([quizTakeId], [quizId], [email], [total], [makeQuizDate], [finish]) VALUES (45173, 24153, N'user@fpt.edu.vn', 4.5, CAST(N'2021-02-05 16:30:08.000' AS DateTime), 1)
INSERT [dbo].[quizTakeDetail] ([quizTakeId], [quizId], [quesId], [ansTemp]) VALUES (45171, 24151, 34253, 15760)
INSERT [dbo].[quizTakeDetail] ([quizTakeId], [quizId], [quesId], [ansTemp]) VALUES (45171, 24151, 34273, 15840)
INSERT [dbo].[quizTakeDetail] ([quizTakeId], [quizId], [quesId], [ansTemp]) VALUES (45171, 24151, 34274, 15845)
GO
INSERT [dbo].[role] ([roleID], [roleName], [status]) VALUES (N'AD', N'Admin', 1)
INSERT [dbo].[role] ([roleID], [roleName], [status]) VALUES (N'SU', N'Student', 1)
INSERT [dbo].[subject] ([subId], [subName], [numQues], [numTime], [status]) VALUES (N'JPD121', N'Elementary Japanese 1.2', 20, 30, 1)
INSERT [dbo].[subject] ([subId], [subName], [numQues], [numTime], [status]) VALUES (N'PRO192', N'Object-Oriented Programming', 30, 40, 1)
INSERT [dbo].[subject] ([subId], [subName], [numQues], [numTime], [status]) VALUES (N'SWD391', N'	Software Architecture and Design', 20, 1, 1)
INSERT [dbo].[user] ([email], [password], [fullName], [roleID], [status]) VALUES (N'admin@fpt.edu.vn', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Admin', N'AD', 1)
INSERT [dbo].[user] ([email], [password], [fullName], [roleID], [status]) VALUES (N'admin@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'admin', N'AD', 1)
INSERT [dbo].[user] ([email], [password], [fullName], [roleID], [status]) VALUES (N'test@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'test', N'SU', 1)
ALTER TABLE [dbo].[answer]  WITH CHECK ADD FOREIGN KEY([quesId])
REFERENCES [dbo].[question] ([quesId])
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD FOREIGN KEY([subId])
REFERENCES [dbo].[subject] ([subId])
GO
ALTER TABLE [dbo].[quiz]  WITH CHECK ADD FOREIGN KEY([subId])
REFERENCES [dbo].[subject] ([subId])
GO
ALTER TABLE [dbo].[quizDetail]  WITH CHECK ADD FOREIGN KEY([quesId])
REFERENCES [dbo].[question] ([quesId])
GO
ALTER TABLE [dbo].[quizDetail]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[quiz] ([quizId])
GO
ALTER TABLE [dbo].[quizTake]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[user] ([email])
GO
ALTER TABLE [dbo].[quizTake]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[quiz] ([quizId])
GO
ALTER TABLE [dbo].[quizTakeDetail]  WITH CHECK ADD FOREIGN KEY([ansTemp])
REFERENCES [dbo].[answer] ([ansId])
GO
ALTER TABLE [dbo].[quizTakeDetail]  WITH CHECK ADD FOREIGN KEY([quesId])
REFERENCES [dbo].[question] ([quesId])
GO
ALTER TABLE [dbo].[quizTakeDetail]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[quiz] ([quizId])
GO
ALTER TABLE [dbo].[quizTakeDetail]  WITH CHECK ADD FOREIGN KEY([quizTakeId])
REFERENCES [dbo].[quizTake] ([quizTakeId])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([roleID])
REFERENCES [dbo].[role] ([roleID])
GO
USE [master]
GO
