<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterMain</filter-name>
        <filter-class>duytt.filter.FilterMain</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>duytt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>duytt.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>duytt.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>duytt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Page_Controller</servlet-name>
        <servlet-class>duytt.controller.Register_Page_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Page_Controller</servlet-name>
        <servlet-class>duytt.controller.Login_Page_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQues_Page_Controller</servlet-name>
        <servlet-class>duytt.controller.CreateQues_Page_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin_Page_Controller</servlet-name>
        <servlet-class>duytt.controller.HomeAdmin_Page_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_Ques_Controller</servlet-name>
        <servlet-class>duytt.controller.Create_Ques_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Question_Controller</servlet-name>
        <servlet-class>duytt.controller.Update_Question_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_Ques_Name_Controller</servlet-name>
        <servlet-class>duytt.controller.Search_Ques_Name_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status_Ques_Controller</servlet-name>
        <servlet-class>duytt.controller.Status_Ques_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Ques_Controller</servlet-name>
        <servlet-class>duytt.controller.Delete_Ques_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>More_Admin_Controller</servlet-name>
        <servlet-class>duytt.controller.More_Admin_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show_Sub_Home_Controller</servlet-name>
        <servlet-class>duytt.controller.Show_Sub_Home_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz_Do_Controller</servlet-name>
        <servlet-class>duytt.controller.Quiz_Do_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz_Do_ans_Controller</servlet-name>
        <servlet-class>duytt.controller.Quiz_Do_ans_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish_Quiz_Controller</servlet-name>
        <servlet-class>duytt.controller.Finish_Quiz_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_History_Controller</servlet-name>
        <servlet-class>duytt.controller.View_History_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>More_Controller</servlet-name>
        <servlet-class>duytt.controller.More_Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Page_Controller</servlet-name>
        <url-pattern>/Register_Page_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Page_Controller</servlet-name>
        <url-pattern>/Login_Page_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQues_Page_Controller</servlet-name>
        <url-pattern>/CreateQues_Page_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin_Page_Controller</servlet-name>
        <url-pattern>/HomeAdmin_Page_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_Ques_Controller</servlet-name>
        <url-pattern>/Create_Ques_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Question_Controller</servlet-name>
        <url-pattern>/Update_Question_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_Ques_Name_Controller</servlet-name>
        <url-pattern>/Search_Ques_Name_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status_Ques_Controller</servlet-name>
        <url-pattern>/Status_Ques_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Ques_Controller</servlet-name>
        <url-pattern>/Delete_Ques_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>More_Admin_Controller</servlet-name>
        <url-pattern>/More_Admin_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show_Sub_Home_Controller</servlet-name>
        <url-pattern>/Show_Sub_Home_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz_Do_Controller</servlet-name>
        <url-pattern>/Quiz_Do_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz_Do_ans_Controller</servlet-name>
        <url-pattern>/Quiz_Do_ans_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finish_Quiz_Controller</servlet-name>
        <url-pattern>/Finish_Quiz_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_History_Controller</servlet-name>
        <url-pattern>/View_History_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>More_Controller</servlet-name>
        <url-pattern>/More_Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/Error.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/Error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.html</location>
    </error-page>
</web-app>
